<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NucleoSim.Properties.NucleoSim" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <NucleoSim.Properties.NucleoSim>
            <setting name="FicheroDatos" serializeAs="String">
                <value>C:\Desarrollo\sonidos\ALARM-alaw1.wav</value>
            </setting>
            <setting name="RecursoGRS1" serializeAs="String">
                <value>121.500</value>
            </setting>
            <setting name="RecursoTER1" serializeAs="String">
                <value>Puesto1</value>
            </setting>
            <setting name="ServerIP1" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort1" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="InterbaloDat" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ServerIP2" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort2" serializeAs="String">
                <value>65002</value>
            </setting>
            <setting name="TextoIP1" serializeAs="String">
                <value>Local - Real</value>
            </setting>
            <setting name="TextoIP2" serializeAs="String">
                <value>Local - Simulado</value>
            </setting>
            <setting name="TextoIP3" serializeAs="String">
                <value>Debian7 </value>
            </setting>
            <setting name="ServerIP3" serializeAs="String">
                <value>192.168.56.101</value>
            </setting>
            <setting name="ServerPort3" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="RecursoGRS2" serializeAs="String">
                <value>243.000</value>
            </setting>
            <setting name="RecursoGRS3" serializeAs="String">
                <value>225.050</value>
            </setting>
            <setting name="TamPaquetes" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="ResponsePort" serializeAs="String">
                <value>64001</value>
            </setting>
            <setting name="IPPasarela" serializeAs="String">
                <value>10.0.2.61</value>
            </setting>
            <setting name="TextoIP4" serializeAs="String">
                <value>Pasarela</value>
            </setting>
            <setting name="ServerIP4" serializeAs="String">
                <value>192.168.1.11</value>
            </setting>
            <setting name="ServerPort4" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="IPPasarela4" serializeAs="String">
                <value>192.168.1.11</value>
            </setting>
            <setting name="RecursoGRS4" serializeAs="String">
                <value>399.975</value>
            </setting>
            <setting name="RecursoGRS5" serializeAs="String">
                <value>300.000</value>
            </setting>
            <setting name="RecursoGRS6" serializeAs="String">
                <value>300.025</value>
            </setting>
            <setting name="RecursoGRS7" serializeAs="String">
                <value>300.050</value>
            </setting>
            <setting name="RecursoGRS8" serializeAs="String">
                <value>300.075</value>
            </setting>
            <setting name="RecursoGRS9" serializeAs="String">
                <value>310.000</value>
            </setting>
            <setting name="RecursoGRS10" serializeAs="String">
                <value>310.025</value>
            </setting>
            <setting name="RecursoGRS11" serializeAs="String">
                <value>310.050</value>
            </setting>
            <setting name="RecursoGRS12" serializeAs="String">
                <value>310.075</value>
            </setting>
            <setting name="RecursoGRS13" serializeAs="String">
                <value>320.000</value>
            </setting>
            <setting name="RecursoGRS14" serializeAs="String">
                <value>320.025</value>
            </setting>
            <setting name="RecursoGRS15" serializeAs="String">
                <value>320.050</value>
            </setting>
            <setting name="RecursoGRS16" serializeAs="String">
                <value>320.075</value>
            </setting>
        </NucleoSim.Properties.NucleoSim>
    </applicationSettings>
</configuration>