<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
      <target name="file" xsi:type="File"
			  layout="${longdate}: ${message} ${exception:format=tostring}"
			  fileName="${basedir}/logs/logfile.txt"
			  archiveFileName="${basedir}/logs/log.{#####}.txt"
			  archiveAboveSize="2000000"
			  archiveNumbering="Rolling"
			  maxArchiveFiles="3"
			  concurrentWrites="false"
			  encoding="iso-8859-2" />
    <target xsi:type="MessageBox" name="MsgBox" layout="${message}" caption="NLOG Message" />
    <target name="log4view" xsi:type="NLogViewer" address="udp://192.168.1.255:8810"/>

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" level="Fatal" writeTo="MsgBox"/>
  </rules>
</nlog>