<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <add key="UserAgent" value="SimulSirtap" />
    <add key="UserId" value="SimulSirtap" />
    <add key="BindIpAddress" value="192.168.1.201" />
    <add key="SipPort" value="7200" />
    <add key="DefaultCodec" value="PCMA" />
    <add key="DstIP" value="224.200.200.1" />
    <add key="RcvMcastIP" value="224.200.200.1" />
    <add key="SrcPort" value="7002" />
    <add key="DstPort" value="7000" />
    <add key="PayloadType" value="PCMA" />
    <add key="DstIP2" value="224.200.200.1" />
    <add key="RcvMcastIP2" value="224.200.200.1" />
    <add key="SrcPort2" value="7006" />
    <add key="DstPort2" value="7004" />
    <add key="PayloadType2" value="PCMA" />
    <add key="SchFile1" value="r110.wav" />
    <add key="SchFile2" value="r120.wav" />
    <add key="userName" value="usr-sha-aes" />
    <add key="privKey" value="privkey1" />
    <add key="authKey" value="authkey1" />
    <add key="SnmpPort" value="161" />
    <add key="TrapPort" value="262" />
  </appSettings>
  
</configuration>