<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <add key="UserAgent" value="SimulSirtap" />
    <add key="UserId" value="SimulSirtap" />
    <add key="BindIpAddress" value="192.168.1.201" />
    <add key="SipPort" value="7200" />
    <add key="DefaultCodec" value="PCMA" />
  </appSettings>
  
</configuration>