<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <add key="UserAgent" value="SimulSirtap" />
    <add key="UserId" value="SimulSirtap" />
    <add key="BindIpAddress" value="192.168.1.221" />
    <add key="SipPort" value="7200" />
    <add key="DefaultCodec" value="PCMA" />
    <add key="DstIP" value="224.200.200.1" />
    <add key="RcvMcastIP" value="224.200.200.1" />
    <add key="SrcPort" value="7002" />
    <add key="DstPort" value="7000" />
    <add key="PayloadType" value="PCMA" />
    <add key="DstIP2" value="224.200.200.1" />
    <add key="RcvMcastIP2" value="224.200.200.1" />
    <add key="SrcPort2" value="7006" />
    <add key="DstPort2" value="7004" />
    <add key="PayloadType2" value="PCMA" />
    <add key="SchFile1" value="r110.wav" />
    <add key="SchFile2" value="r120.wav" />
    <add key="userName" value="usr-sha-aes" />
    <add key="privKey" value="privkey1" />
    <add key="authKey" value="authkey1" />
    <add key="SnmpPort" value="161" />
    <add key="TrapPort" value="262" />
    <add key="FrequencyMin" value="30000" />
    <add key="FrequencyMax" value="511975" />
    <add key="WFCh1" value="W1" />
    <add key="WFCh2" value="W2" />
    <add key="numChannels" value="2" />
    <add key="ChannelSelected" value="1" />
    <add key="FrequencyCh1" value="30000" />
    <add key="FrequencyCh2" value="30005" />
    <add key="PowerLevelCh1" value="25" />
    <add key="PowerLevelCh2" value="26" />
    <add key="TxInhibit" value="0" />
  </appSettings>
  
</configuration>