<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrabadorSim.Properties.Grabador" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GrabadorSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <GrabadorSim.Properties.Grabador>
            <setting name="RTPPort" serializeAs="String">
                <value>14650</value>
            </setting>
            <setting name="RTSPPort" serializeAs="String">
                <value>11555</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>192.168.56.101</value>
            </setting>
            <setting name="IPLocal" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RetardoAnnounce" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RetardoSetup" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RetardoTearDown" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RetardoPeticion" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RetardoMedia" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DirectorioFicheros" serializeAs="String">
                <value>../media</value>
            </setting>
            <setting name="IPRedan" serializeAs="String">
                <value>192.168.1.234</value>
            </setting>
        </GrabadorSim.Properties.Grabador>
        <GrabadorSim.Properties.Settings>
            <setting name="RTPPort" serializeAs="String">
                <value>4650</value>
            </setting>
        </GrabadorSim.Properties.Settings>
    </applicationSettings>
</configuration>