lib/libpjproject*.bsc
lib/libpjproject*.idb
lib/libpjproject*.lib
pjlib-util/build/output/
pjlib-util/lib/
pjlib/build/output/
pjlib/lib/
pjmedia/build/output/
pjmedia/lib/
pjnath/build/output/
pjnath/lib/
pjsip-apps/build/output/
pjsip/build/output/
pjsip/lib/
third_party/build/g7221/output/
third_party/build/gsm/output/
third_party/build/ilbc/output/
third_party/build/milenage/output/
third_party/build/portaudio/output/
third_party/build/resample/output/
third_party/build/speex/output/
third_party/build/srtp/output/
third_party/lib/




